@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-input {
    @apply block px-2.5 pb-2.5 pt-4 text-sm  text-gray-900 bg-transparent rounded-md border border-gray-300 appearance-none dark:text-white dark:border-gray-600  focus:ring-0 focus:border-emerald-600;
  }

  .custom-gradient {
    @apply bg-gradient-to-r from-[#f9a225] to-[#f95f35];
    background-image: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  }

  .own {
    @apply bg-gradient-to-r from-[#24e4f0] to-[#358ff9];
    background: linear-gradient(98.63deg, #24e4f0 0%, #358ff9 100%);
  }
}

/* HTML: <div class="loader"></div> */

.loader {
  width: 90px;
  height: 14px;
  --c: #fff 90deg, #0000 0;
  background: conic-gradient(from 135deg at top, var(--c)) 0 0,
    conic-gradient(from -45deg at bottom, var(--c)) 0 100%;
  background-size: calc(100% / 4) 50%;
  background-repeat: repeat-x;
  animation: l12 1s infinite;
}
@keyframes l12 {
  80%,
  100% {
    background-position: calc(100% / 3) 0, calc(100% / -3) 100%;
  }
}

#payment-form {
  border: #f6f9fc solid 1px;
  border-radius: var(--radius);
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%);
}

#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  display: none; /* hide initially, then show once the first message arrives */
  background-color: #0a253c;
  color: #00d924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size: 0.7em;
}
#payment-element {
  margin-bottom: 24px;
}
